.dir {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

li {
    list-style: none;
    padding: 20px;

}

.vis {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bef {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

.ton {
    background-color: yellow;
    padding: 10px;
}