* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ust {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer li {
    list-style: none;
    padding: 20px;
    font-size: 20px
}

.ule {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.el {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: none;
}

.part2 {
    padding-top: 20px;
    padding: 20px;
}

footer {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.footer1 {
    margin: 10px;
}

.footer1 {
    margin-bottom: 10px;
}

.footer1 {
    list-style: none;
    padding: 0;
}

.footer1 li {
    margin-bottom: 5px;
}

.footer1 input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.app-links img {
    width: 120px;
    margin-top: 10px;
}

input {
    padding: 7px;
    border-radius: 5px;
}
#cart{
    margin-top: 20px;
    margin-left: 90px;
}
img{
    width: 150px;
    height: 150px;
}
.cart-container{
    margin: 20px;
}
.pro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#price,#Quantity,#Subtotal{
    margin-left: 282px;
}
.head-container{
    display: flex;
    justify-content: space-between;
}
.head{
    display: flex;
} 
.cont3 button{
    padding: 7px;
    border-radius: 5px;
    background-color: red;
    border: none;
    margin-left: 150px;
}
.cont3{
    display: flex;
}
.cont2{
    display: flex;
    align-items: center;
}
h4,.cont3 input{
    margin-left: 170px;
}
#total-cont{
    border: 2px solid black;
    padding: 20px;
    width: 360px;
    margin-left: 1000px;
}
#subtotal{
    display: flex;
    margin: 20px;
}
#shopping{
    display: flex;
    margin: 20px;
}
#total{
    display: flex;
    margin: 20px;
}
.money{
    margin-left: 80px;
}
#checkout{
    padding: 10px;
    margin-left: 90px;
}
#cart-subtotal{
    margin-left: 80px;
}
#cart-total{
    margin-left: 80px;
}