* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ust {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.el li,
footer li {
    list-style: none;
    padding: 20px;
    font-size: 20px
}

.ule {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.el {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.part2 {
    padding-top: 20px;
    padding: 20px;
}

footer {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.footer1 {
    margin: 10px;
}

.footer1 {
    margin-bottom: 10px;
}

.footer1 {
    list-style: none;
    padding: 0;
}

.footer1 li {
    margin-bottom: 5px;
}

.footer1 input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

app-links img {
    width: 120px;
    margin-top: 10px;
}

h1,
.category input {
    margin-left: 70px;
    padding: 10px;
}

.category input {
    margin-left: 70px;
    padding: 7px;
    border-radius: 5px;
}

input {
    padding: 7px;
    border-radius: 5px;
}

.category li {
    margin-left: 80px;
    list-style: none;
    padding: 5px;
    font-size: 20px
}

.shop-container {
    display: flex;
}

.sort {
    width: 1100px;
    margin: 20px;
}

.sort button {
    margin: 10px;
}

.options {
    padding: 6px;
    border-radius: 3px;
    margin-left: 10px;
    max-width: 200px;
}

.option {
    display: flex;
    flex-direction: column;
}

.option button {
    max-width: 100px;
}

.car-list {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.card {
    margin-right: 60px;
    margin-top: 20px;
}

.car-list {
    height: 100vh;
    background-color: yellow;
    width: 70%;
    overflow: auto;
}

.products {
    display: flex;
}

