* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ust {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer li {
    list-style: none;
    padding: 20px;
    font-size: 20px
}

.ule {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.el {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.part2 {
    padding-top: 20px;
    padding: 20px;
}

footer {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.footer1 {
    margin: 10px;
}

.footer1 {
    margin-bottom: 10px;
}

.footer1 {
    list-style: none;
    padding: 0;
}

.footer1 li {
    margin-bottom: 5px;
}

.footer1 input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.app-links img {
    width: 120px;
    margin-top: 10px;
}

input {
    padding: 7px;
    border-radius: 5px;
}
#head{
    border: none;
    padding: 7px;
    background-color: red;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 140px;
}
.user-cont{
    box-shadow: 20px 20px 20px black; 
    margin-top: 30px;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-bottom: 50px;
}
h2{
    font-size: 30px;
    color: red;
    margin: 10px;
}
main p{
    font-size: 25px;
    color: black;
    margin: 10px;
}
main span{
    font-size: 20px;
    color: rgb(66, 65, 65);
    margin: 10px;
}