* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ust {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

li {
    list-style: none;
    padding: 20px;


}

.ule {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.el {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: space-between;
}

.part2 {
    padding-top: 20px;
    padding: 20px;
}

#image {
    width: 100%;
    height: 600px;
}

button {
    background-color: red;
    padding: 10px;
    border-radius: 7px;
    color: white;
}

footer {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.footer1 {
    margin: 10px;
}

.footer1 {
    margin-bottom: 10px;
}

.footer1 {
    list-style: none;
    padding: 0;
}

.footer1 li {
    margin-bottom: 5px;
}

a {
    color: rgb(126, 151, 180);
}

.footer1 input {
    width: 80%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

app-links img {
    width: 120px;
    margin-top: 10px;
}
.ourstory{
    margin-top: 100px;
    margin-left: 130px;
}
.ourstory h1{
    font-size: 54px;
}
.ourstory p{
    margin-top: 50px;
    font-size: 18px;
}
.cont{
    display: flex;
    margin-top: 50px;
}
.cont img{
    margin-left: 170px;
}
li{
    font-size: 20px;
}
input{
    padding: 5px;
}
.cont2{
    display: flex;
    margin-top: 50px;
}
 .cont2 img{
    width: 270px;
    height: 330px;
}
.men{
    margin: 90px;
}